<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Home page</h1>
    <a href="/">Về trang chủ</a>
    <a href="/tra-cuu-mst">Tra cứu mst 1 công ty</a>
  </body>
</html>
