<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Tra cứu mst một công ty</h1>
    <a href="/">Về trang chủ</a>
    <a href="/tra-cuu-mst">Tra cứu mst 1 công ty</a>
    <br><br>
    <form action="/tra-cuu-mst" method="post">
      <input type="text" name="mst" placeholder="Nhập mã số thuế">
      <input type="submit" value="Nhận">
    </form>
  </body>
</html>
